header {
  width: 100%;
  position: fixed;
  top: 0;
  display: inline-flex;
}

#nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

section {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  text-align: center;
}

@media (max-width: 600px) {
  body {
    background-color: black;
  }
}
